.container{
  width: 280px;
  padding: 20px;
  background-color: rgba(167, 167, 167, 0.705);
  border-radius: 10px;
  box-shadow: 20px 20px 50px 10px rgb(151, 151, 151);
}
.date{
  width: 95%;
  margin: 0 auto;
}
.date .img{
  display: flex;
  justify-content:center;
}
.date button{
  width:45%;
}
.date .buttons {
  display: flex;
  align-items:center;
  justify-content: space-between
}

